#proxy-notice {
  display: block;
  width: 100%;
  background-color: #ffe248;
}

.proxy-notice-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #252525;
  background-color: #ffe248;
  height: 100%;
}

.proxy-notice-content {
  width: 100%;
  padding: 20px 12px 0;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proxy-notice-subcontent {
  width: 100%;
  padding: 4px 12px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.proxy-notice-link {
  color: #3181f7;
  font-weight: 700;
  text-decoration: none;
}
.proxy-notice-link:hover {
  text-decoration: underline;
}

.proxy-notice-icon {
  flex: 0 0 auto;
  width: 38px;
  height: 38px;
  margin-right: 8px;
}
